<header>
    <a class="fleft left-menu c-hamburger c-hamburger--htx is-active" href="#menu">
        <span>toggle menu</span>
    </a>
    <a href="/">
        <i class="logo icon-logo_part_1"></i>
        <i class="logo icon-logo_part_2"></i>
        <i class="logo icon-logo_part_3"></i>
    </a>
    <a href="javascript:void(0);" class="fright"><i class="glyphicon icon-search btn-search"></i></a>
</header>

<div class="div_loading" style="display: none;z-index: 2100;">
    <img class="rotate" width="90" height="90" alt="" src="/data/loading.png">
</div>
