<div class="significant">
    {#<span class="italic-txt fl-left">{{ item.title }}</span><br>#}
    <input type="{{ item.type }}" name="{{ item.name }}" class="datepicker txt" placeholder="{{ item.place_holder }}"
           readonly="true">
    {#{% if(item['option']['required']) %}#}
        {#<span class="red">*</span>#}
    {#{% endif %}#}
</div>