{% if(data) %}
    <div class="row">
            {% for item in data %}
                <div class="col-01 item">
                    {% if item.type=='combo_box' %}
                        {{ include('@app/views/price/temp/_combo_box.twig', {'item':item}) }}
                    {% endif %}

                    {% if(item.type=='date_picker') %}
                        {{ include('@app/views/price/temp/_date_picker.twig', {'item':item}) }}
                    {% endif %}

                    {% if item.type=='text_box' %}
                        {{ include('@app/views/price/temp/_text_box.twig', {'data':item}) }}
                    {% endif %}

                </div>
            {% endfor %}
    </div>
{% endif %}