{#<h1 class="title"><a href="#" class="btn-select">Cần thơ <i class="glyphicon icon-arrow_down"></i></a> Thời tiết</h1>#}
<div class="mdl_footer">
    <div class="mdl_footer01">
        <h1 class="title"> Thời tiết</h1>
    </div>
    <div class="mdl_footer02">
        <a href="#" class="btn-select">Cần thơ <i class="glyphicon icon-arrow_down"></i></a>
    </div>
    <div class="clear"></div>
</div>

<div class="content">
    <div class="mdl-weather">
        <a href="#" class="btn-left"><i class="glyphicon icon-arrow_left"></i></a>
        <a href="#" class="btn-right"><i class="glyphicon icon-arrow_right"></i></a>

        <div class="row">
            <div class="col-01 item">
                <p>Hom nay</p>
                <img src="data/4x3.png" width="60"/>

                <p><span class="color-01">37</span>/<span>20</span></p>
            </div>
            <div class="col-01 item">
                <p>Hom nay</p>
                <img src="data/4x3.png" width="60"/>

                <p><span class="color-01">37</span>/<span>20</span></p>
            </div>
            <div class="col-01 item">
                <p>Hom nay</p>
                <img src="data/4x3.png" width="60"/>

                <p><span class="color-01">37</span>/<span>20</span></p>
            </div>
        </div>
        <div class="clear"></div>

    </div>
</div>

<div class="mdl-content">
    <h1 class="title">Tin tức thời tiết khác</h1>

    <div class="content mdl-news">
        <div class="item">
            <div class="overlay">
                <img width="100%" class="img-responsive" src="data/4x4.png">
                <a class="btn-over" href="#"></a>
            </div>
            <p><a href="#">Xuất khẩu tôm sang Mỹ giảm một nửa</a></p>
        </div>
        <div class="item">
            <div class="overlay">
                <img width="100%" class="img-responsive" src="data/4x4.png">
                <a class="btn-over" href="#"></a>
            </div>
            <p><a href="#">Xuất khẩu tôm sang Mỹ giảm một nửa</a></p>
        </div>
        <div class="item">
            <div class="overlay">
                <img width="100%" class="img-responsive" src="data/4x4.png">
                <a class="btn-over" href="#"></a>
            </div>
            <p><a href="#">Xuất khẩu tôm sang Mỹ giảm một nửa</a></p>
        </div>
        <div class="item">
            <div class="overlay">
                <img width="100%" class="img-responsive" src="data/4x4.png">
                <a class="btn-over" href="#"></a>
            </div>
            <p><a href="#">Xuất khẩu tôm sang Mỹ giảm một nửa</a></p>
        </div>
        <div class="item">
            <div class="overlay">
                <img width="100%" class="img-responsive" src="data/4x4.png">
                <a class="btn-over" href="#"></a>
            </div>
            <p><a href="#">Xuất khẩu tôm sang Mỹ giảm một nửa</a></p>
        </div>
    </div>
</div>

<style type="text/css">
    .mdl_footer01 {
        float: left;
    }

    .mdl_footer02 {
        float: right;
    }
</style>